* {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    position: absolute;
    width: 100%;
}

.header-itens {
    background: #9ca0e3;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 40px;
}

.header-ul {
    display: inline-flex;
    list-style: none;
    align-items: center;
}

.header-ul li {
    margin-right: 40px;
    font-size: 15pt;
}

.container-abt {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.container-merchan {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.container-merchan h1 {
    font-size: 60pt;
    white-space: pre-line;
}

.container-merchan img {
    width: 400px;
    height: 400px;
}

.paper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paper h2,
.paper li {
    padding: 20px;
}

.paper h2 {
    font-size: 40pt;
}

.paper li {
    font-size: 30pt;
}

.website {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.website h2,
.website li {
    padding: 20px;
}

.website h2 {
    font-size: 40pt;
}

.website li {
    font-size: 30pt;
}

.container-pw {
    background: #9ca0e3;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

.container-text-comparison {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.container-for-help {
    background: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.container {
    width: 100%;
    height: 600px;
    display: flex;
}

.container-form {
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-form input {
    width: 200px;
    height: 35px;
    border-radius: 5px;
}

.container-form button {
    background: rgb(72, 196, 82);
    color: white;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    border: none;
}

.container-form h2 {
    padding: 10px;
}

.container-form input,
.container-form button {
    margin-top: 20px;
}

.container-atv {
    display: flex;
    width: 50%;
    flex-direction: column;
    background: #a3a4b1;
    overflow-y: scroll;
}

.container-atv li {
    display: flex;
    padding: 10PX;
    margin-top: 20px;
    font-size: 15pt;
}

.container-atv ul {
    margin: 0;
    padding: 0;
}

.container-atv button {
    width: 100px;
    height: 50px;
    margin-left: 50px;
    justify-content: center;
    display: flex;
}

.container-atv li,
.container-atv button {
    display: flex;
    align-items: center;
}

#hr-style {
    color: black;
    text-decoration: none;
    width: 2px;
    background: black;
}

.purchased {
    background: green;
    color: white;
}

@media screen and (max-width: 1020px) {

    .container-abt {
        width: 100%;
        height: 1000px;
        display: flex;
        justify-content: center;
    }
    
    .container-merchan {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    .container-merchan h1 {
        font-size: 40pt;
        white-space: pre-line;
    }
    
    .container-merchan img {
        width: 300px;
        height: 300px;
    }

    .container {
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
    }

    .container-pw {
        background: #9ca0e3;
        width: 100%;
        height: 1400px;
        display: flex;
        justify-content: center;
    }

    #hr-style {
        width: 100%;
        height: 1px;
        background-color: black;
        border: none;/
    }

    .container-text-comparison {
        display: flex;
        width: 80%;
        flex-direction: column;
    }

    .container-for-help {
        display: none;
    }

    .container-form {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .container-atv {
        display: flex;
        width: 100%;
        flex-direction: column;
        background: #a3a4b1;
        overflow-y: scroll;
    }

}